<template name="hello">
	{{ #with blogs}}
	  <div class='container' style="padding:2%">
			<div class="row">
				<div class="col-md-2">
					{{>navbar}}
				</div>
				<div class="col-md-10">
					<div class="input-group">
						  <input type="text" class="form-control search" name="search" placeholder="Search for...">
						  <span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						  </span>
    				</div>
					<!-- Preview Blog Post -->
					<h2>
						<a href="#">{{ random_article.title }}</a>
					</h2>
					<p>
						<span class="glyphicon glyphicon-time"></span> {{dateFormat random_article.published_date }}|
						<a href="#">{{ random_article.author.author_name}}</a></p>
					<img class="img-responsive display: block;" src="{{add_base_url random_article.hero_image}}" alt="">
					<p>{{ random_article.article_text}}</p>


					<!-- First Blog Post -->
                    {{#each articles }}
                    <div class="row">
                            <div class="col-md-1 hidden-xs hidden-sm" style="padding-top:5%">
                                <div class="circle circle-border hidden-xs">
                                     <div class="circle-inner">
                                         <div class="score-text">
                                                {{increment @index}}
                                          </div>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <h2>
                                    <a href="/blog/{{id}}/">{{title}}</a>
                                </h2>

                                <p>{{ shortIt article_text 100 }}</p>
                                <a class="" href="#">Read More</a>
                            </div>
                    </div>
                    {{/each}}

					<div class="row">

						<div class="col-md-12">
							<h3 class="page-header">
								<span>Related Projects </span>
								<span class="pull-right">
									<a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a> |
									<a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
								</span>
							</h3>
						</div>
					  <!--include related here -->
						<!--{% include "relatedarticle.html" %}-->
						{{>related}}
					</div>
				</div>

			</div>
		</div>
	{{ /with }}
</template>