<template name="navbar">
	<div class="list-group">
					<a href="#" class="list-group-item text-center" style="min-height: 10%;padding-top: 15%;font-size: 2em;">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                    <a href="#" class="list-group-item text-center" style="min-height: 10%;padding-top: 15%;font-size: 2em;">
                        <span class="glyphicon glyphicon-align-justify"></span> | <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <a href="#" class="list-group-item active text-center" style="min-height: 10%;font-size: 1em;">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                    <a href="#" class="list-group-item text-center" style="min-height: 10%;font-size: 1em;">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                    <a href="#" class="list-group-item text-center" style="min-height: 10%;font-size: 1em;">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                    <a href="#" class="list-group-item text-center" style="min-height: 10%;font-size: 1em;">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
</div>

</template>
