<template name="search">
	 <div class='container' style="padding:2%">
			<div class="row">
				<div class="col-md-2"></div>
			</div>
		 	<div class="col-md-10">
				<div class="input-group">
						  <input type="text" class="form-control search" placeholder="Search for..." value="{{searchVar }}">
						  <span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						  </span>
				</div>
                {{>article_list}}
			</div>
	</div>
</template>

<template name="article_list">
    {{#each articles }}
	<div class="row">
            <div class="col-md-1" style="padding-top:5%">

            </div>
            <div class="col-md-11">
                <h2>
                    <a href="/article/">{{title}}</a>
                </h2>

                <p>{{ shortIt article_text 100 }}</p>
                <a class="" href="#">Read More</a>
            </div>
    </div>
    {{/each}}
</template>
